.category-container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    top: 0;

    .category {
        width: 32%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 36px;
        font-weight: 800;
        text-decoration: none;
        transition: width 1s ease-in-out;
    }

    .upenn {
        background: linear-gradient(to top right, #011F5B 50%, #990000 50%);
        color: #FFFFFF;

        &:hover {
            transition: width 1s ease-in-out;
            width: 60%
        }
    }

    .moesif {
        background-color: #ff4f00;
        color: #292F33;

        &:hover {
            transition: width 1s ease-in-out;
            width: 60%
        }
    }

    .freelance {
        background: #333366;
        color: #FFB580;

        &:hover {
            transition: width 1s ease-in-out;
            width: 60%
        }
    }

}