.home-page {
  .tab {
    width: 70px;

    @media only screen and (max-width: 960px) {
      display: none;
    }
  }
  .text-zone {
    position: absolute;
    left: calc(10% + 60px);
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;

    @media only screen and (max-width: 960px) {
      width: 50%;
    }
  }

  h1 {
    color: #fff;
    font-size: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    .first-name {
      font-family: 'Paytone One', sans-serif;
      font-size: 64px;
      font-weight: 400;
      padding: 0 8px;
    }
  }

  h2 {
    color: #ffb580;
    margin-top: 20px;
    font-weight: 400;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .button-container {
    width: 100%;
    right: 15%;
    margin-top: 35px;
    display: flex;
    justify-content: center;

    .flat-button {
      color: #fff;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 4px;
      font-family: sans-serif;
      text-decoration: none;
      padding: 15px;
      margin: 0 2%;
      border: 1px solid #fff;
      animation: fadeIn 1s 1.8s backwards;
      white-space: nowrap;

      &:hover {
        background: #ffb580;
        border: 1px solid #ffb580;
        color: #333366;
        font-weight: 600;
      }
    }
  }
}

.ki-logo-outline {
  @media only screen and (max-width: 960px) {
    position: relative;
    top: 55vh;
    left: -5%;
  }

  z-index: -2;
  width: 45%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 1%;
  left: auto;
  margin: auto;
  animation: colorRotate 10s linear infinite;
}

@keyframes colorRotate {
  from {
    stroke: #ff8080;
  }
  12.5% {
    stroke: #ffb580;
  }
  25% {
    stroke: #ffea80;
  }
  37.5% {
    stroke: #8aff80;
  }
  50% {
    color: #80ffdf;
  }
  62.5% {
    stroke: #80b5ff;
  }
  75% {
    stroke: #8a80ff;
  }
  87.5% {
    stroke: #d580ff;
  }
  100% {
    stroke: #ff80ca;
  }
  0% {
    color: #ff80ca;
  }
}
